<!DOCTYPE html>
<html>

<head>
    <title>Web Scraping Mars Data</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background-color:black; font-family: 'Press Start 2P', cursive;">
    
    <!-- CONTAINER-->
    <div class="container" style="background-color:black;">

        <!-- JUMBOTRON --><!--another option for background that I like: url(http://www.4usky.com/data/out/58/164512304-mars-wallpapers.jpg) -->
        <div class="jumbotron text-center" style="background-image: url(https://wpmisc.com/sites/default/files/wallpaper/space/73205/mars-hd-wallpapers-73205-5287998.png); background-size: 100%; height: 100%;">
            <h1 class="display-4" style="color:white">Mission to Mars</h1>
            <a class="btn btn-primary btn-lg" href="/scrape" role="button" style="background-color:#DB570E; color:white; outline: none; border: none;">Scrape New Data</a>
        </div>

        <!--TOP: NASA MARS NEWS-->
        <div class="container">
            <div class="row">
                <h2>Latest Mars News from NASA</h2>
                <h4>{{ mars_info.news_title }}</h4>
                <p>{{ mars_info.news_p }}</p>
            </div>
        </div>

        <!--MIDDLE: FEATURED IMAGE, LATEST WEATHER TWEET, and FACTS TABLE-->
        
        
        
        
        
        
        <!--BOTTOM: HEMISPHERE IMAGES -->
        





    <!--CLOSE OUTER CONTAINER-->
    </div>

    <!-- three bootstrap scripts here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>