<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
   
  
    <title>Mission to Mars</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="" integrity=""
        crossorigin="anonymous">

</head>

<body class="text-white" style="background-color:black;">
    <div class="container">

        <!-- jumbotron -->
        <div class="jumbotron text-center">
            <h1 class="display-4">Mission to Mars</h1>
            <a class="btn btn-lg text-white" href="/scrape" role="button">Scrape New
                Data</a>
        </div>

    </div>
        <!-- three bootstrap scripts here -->
</body>

</html>